@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a; /* Nuestro color de fondo personalizado */
}

body {
  background-color: var(--color-dark);
  color: #ffffff;
}

/* Zoom del 125% exclusivo para pantallas de escritorio (PC/Laptops) */
@media (min-width: 1024px) {
  html {
    zoom: 1;
  }
}